<html>
    <body ng-app>
        <div ng-controller="ToDoController">
            <input type="text" ng-model="itemName"> <!-- ng-model binds value in text to itemName var in Controller-->
            <input type="button" ng-click="addItem()" value="Add"><!-- Don't use addItem(newItem) as it will cause coupling parameter to view-->
            <br>
            <li ng-repeat="item in items">
                <input type=checkbox ng-model="item.isChecked">{{item.title}}
            </li>
        </div>
        
        <script src="static/js/lib/angular.min.js"></script>
        <script src="static/js/todo.js"></script>
    </body>
</html>